@model SitefinityWebApp.Mvc.ViewModels.CustomNodeViewModel

    <a href="@Model.Url" target="@Model.LinkTarget">
        @if (Model.Rating > 0)
        {
            <small>
                @for (int i = 0; i < Model.Rating; i++)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
            </small>
        }
        @Model.Title
    </a>
