@model SitefinityWebApp.Mvc.Models.HelloWorldModel

<div class="col-md-6">
    <h1 style="color:#000096">@Model.Message</h1>
    <p>@string.Format("And random number is: {0}", Model.RandNumber)</p>
</div>