<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" authCookieName=".SFAUTH-RotterdamTraining" rolesCookieName=".SFROLES-RotterdamTraining" validationKey="B68E32B4D2D8E13919307DDB9BD6A1F1ABC2C6808383E399660B39941F234A7C18EAC4E8D15BEFD1FFAC324B203A3E9BF0B4F2F16E965F50AD04462E5AE36D24" decryptionKey="2E6E36BFD7FDBCF2715576A3EB5FF6ADECE803117FBD012FCA8E357370737D1B" loggingCookieName=".SFLOG-RotterdamTraining">
	<securityTokenIssuers>
		<add key="28E84B8480C360B04BD3ACC3B786E30E9F0438C31C8F5574A7C31F2E2D650173" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="28E84B8480C360B04BD3ACC3B786E30E9F0438C31C8F5574A7C31F2E2D650173" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="f237f676-a504-4465-bb78-3a14ddfea66e" name="Everyone" config:flags="1" />
		<role id="0f12a13a-c08d-4d33-b0c5-057def4aa8b8" name="Anonymous" config:flags="1" />
		<role id="ce03df38-6eae-4ce0-8e31-8b0075bd172c" name="Authenticated" config:flags="1" />
		<role id="ddc1285e-0681-458f-904d-d28ce857fd32" name="Owner" config:flags="1" />
		<role id="c28f6b08-d203-412c-b4dc-2e8a720fd921" name="Administrators" config:flags="1" />
		<role id="535381fe-78f2-41f8-af75-fed59b6af888" name="BackendUsers" config:flags="1" />
		<role id="8ae937cc-0fd5-4fa7-b44b-7bbb60944c44" name="Authors" config:flags="1" />
		<role id="e1e70d31-7db7-40b4-baf6-f2eab7fa7fae" name="Editors" config:flags="1" />
		<role id="b2890065-d281-4019-b380-87e5a01fff1f" name="Designers" config:flags="1" />
		<role id="6395c3e6-31da-46dd-bc87-348b44131a26" name="Users" config:flags="1" />
	</applicationRoles>
	<membershipProviders>
		<add title="CustomProvider" type="SitefinityWebApp.CustomMembershipDataProvider, SitefinityWebApp" name="CustomProvider" />
	</membershipProviders>
</securityConfig>