<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add access="Anonymous" urlName="default" config:flags="1">
					<types>
						<remove clrType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
						<remove clrType="Telerik.Sitefinity.Blogs.Model.Blog" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Event" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Calendar" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Image" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Document" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Video" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.VideoLibrary" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.List" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.ListItem" />
						<remove clrType="Telerik.Sitefinity.GenericContent.Model.ContentItem" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Webinars.Webinar" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<add clrType="Telerik.Sitefinity.News.Model.NewsItem" config:flags="1">
							<propertyMappings>
								<remove Name="ExpirationDate" />
								<remove Name="Category" />
								<remove Name="Tags" />
								<remove Name="Comments" />
								<remove Name="SourceName" />
								<remove Name="SourceSite" />
								<remove Name="Content" />
								<add PersistentName="Tags" SelectedByDefault="False" Name="Tags" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="SourceName" Name="SourceName" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
						</add>
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>